flows.json
[
    {
        "id": "eb87d9284be0eefc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee397b031ea63f39",
        "type": "mqtt in",
        "z": "eb87d9284be0eefc",
        "name": "",
        "topic": "proyectoIOT/sensorTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7dbbad402d9ee37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "8124a0eeb081c1b8",
                "74e1ea8d0e698e25"
            ]
        ]
    },
    {
        "id": "8124a0eeb081c1b8",
        "type": "ui_text",
        "z": "eb87d9284be0eefc",
        "group": "2b36080fe43a9945",
        "order": 4,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Temperatura (°C)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "74e1ea8d0e698e25",
        "type": "ui_chart",
        "z": "eb87d9284be0eefc",
        "name": "",
        "group": "2b36080fe43a9945",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#3f96d5",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7d079d598d7f06c0",
        "type": "mqtt in",
        "z": "eb87d9284be0eefc",
        "name": "",
        "topic": "proyectoIOT/sensorHum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7dbbad402d9ee37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "7a8f99c438a2142f",
                "b71f622a922eead5"
            ]
        ]
    },
    {
        "id": "027cffbc4f74795b",
        "type": "mqtt in",
        "z": "eb87d9284be0eefc",
        "name": "",
        "topic": "proyectoIOT/Tanque",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e7dbbad402d9ee37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "f4e3b203033ec16a"
            ]
        ]
    },
    {
        "id": "7a8f99c438a2142f",
        "type": "ui_text",
        "z": "eb87d9284be0eefc",
        "group": "2b36080fe43a9945",
        "order": 5,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Humedad (%)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "b71f622a922eead5",
        "type": "ui_chart",
        "z": "eb87d9284be0eefc",
        "name": "",
        "group": "2b36080fe43a9945",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f4e3b203033ec16a",
        "type": "ui_gauge",
        "z": "eb87d9284be0eefc",
        "name": "",
        "group": "2b36080fe43a9945",
        "order": 7,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Capacidad de Agua (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "5a57ad7fb9e3dd81",
        "type": "ui_spacer",
        "z": "eb87d9284be0eefc",
        "name": "spacer",
        "group": "2b36080fe43a9945",
        "order": 6,
        "width": "6",
        "height": "5"
    },
    {
        "id": "9c6260f32de52238",
        "type": "ui_spacer",
        "z": "eb87d9284be0eefc",
        "name": "spacer",
        "group": "2b36080fe43a9945",
        "order": 3,
        "width": "17",
        "height": "1"
    },
    {
        "id": "e7dbbad402d9ee37",
        "type": "mqtt-broker",
        "name": "ServidorWeb",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2b36080fe43a9945",
        "type": "ui_group",
        "name": "Muestra de Sensores",
        "tab": "c7345475a6eb7cea",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7345475a6eb7cea",
        "type": "ui_tab",
        "name": "Aplicacion IOT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]